.container {
  background: linear-gradient(
    0deg,
    rgba(66, 60, 99, 1) 0%,
    rgba(28, 21, 46, 1) 100%
  );
  border-radius: 30px;
  width: 100%;
  margin: 10px 10px;
  padding: 20px;
}

.form-title {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: orange;
  font-variant: small-caps;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  color: white;
}

h5 {
  color: rgb(143, 128, 150);
  font-size: 0.8rem;
}
