.filter-container {
  width: 100%;
  height: 200px;
  background-color: rgb(47, 38, 51);
}

.dropdown-menu {
  width: 12vw;
  z-index: 999;
}

.active-filter-bg {
  background-color: teal !important;
}

.active-filter-text {
  color: white;
}
