<mat-card class="filter-container" fxLayout="row" fxLayoutGap="50px">
  <app-filter-tags></app-filter-tags>
  <div fxLayout="column" fxLayoutAlign="space-between">
    <mat-form-field appearance="fill">
      <mat-label>Expansions</mat-label>
      <mat-select [formControl]="expansionsList" multiple>
        <mat-select-trigger *ngIf="expansionsList.value?.length > 1">
          {{ expansionsList.value.length }} selected
        </mat-select-trigger>
        <mat-option *ngFor="let expansion of expansions">
          {{ expansion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-search-bar></app-search-bar>
  </div>
</mat-card>
