<form
  [formGroup]="contactForm"
  (ngSubmit)="sendForm()"
  novalidate
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <!-- Campo Name -->
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    fxLayout.lt-md="column"
  >
    <div>
      <h2>Nickname</h2>
      <input
        type="text"
        formControlName="name"
        placeholder="Type your name..."
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div class="text-danger" *ngIf="name.errors.required">
          Type your name, please
        </div>
        <div class="text-danger" *ngIf="name.errors.minlength">
          The name must have 5 characters
        </div>
      </div>

      <!-- Campo server -->

      <h2>Server</h2>
      <input
        type="text"
        formControlName="server"
        placeholder="Type your server..."
      />
      <div *ngIf="server.invalid && (server.dirty || server.touched)">
        <div class="text-danger" *ngIf="server.errors.required">
          Type your server, please
        </div>
        <div class="text-danger" *ngIf="server.errors.minlength">
          Type a valid server, please
        </div>
      </div>
    </div>
    <!-- Campo datacenter -->

    <div>
      <h2>Datacenter</h2>
      <input
        type="text"
        formControlName="datacenter"
        placeholder="Type your datacenter..."
      />
      <div
        *ngIf="datacenter.invalid && (datacenter.dirty || datacenter.touched)"
      >
        <div class="text-danger" *ngIf="datacenter.errors.required">
          Type your datacenter, please
        </div>
        <div class="text-danger" *ngIf="datacenter.errors.minlength">
          Type a valid datacenter
        </div>
      </div>

      <!-- Campo Email -->

      <h2>Email</h2>
      <input
        type="email"
        formControlName="email"
        placeholder="Type your email"
      />
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div class="text-danger" *ngIf="email.errors.required">
          Type your email, please
        </div>
        <div class="text-danger" *ngIf="email.errors.minlength">
          Type a valid email, please
        </div>
        <div class="text-danger" *ngIf="email.errors.pattern">
          The email must have a valid format
        </div>
      </div>
    </div>
  </div>

  <!-- Campo Dropdown -->
  <!---->

  <h2>Question Type</h2>
  <mat-form-field appearance="fill">
    <mat-label>Select the type of question you have</mat-label>
    <mat-select (selectionChange)="changeQuestion($event)">
      <mat-option
        class="mat-bg"
        *ngFor="let question of questions"
        value="{{ question }}"
      >
        {{ question }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Campo message -->

  <h2>Message</h2>
  <textarea
    formControlName="message"
    placeholder="Type your message..."
  ></textarea>
  <div *ngIf="message.invalid && (message.dirty || message.touched)">
    <div class="text-danger" *ngIf="message.errors.required">
      Type your message, please
    </div>
    <div class="text-danger" *ngIf="message.errors.minlength">
      The message must have 5 characters
    </div>
    <div class="text-danger" *ngIf="message.errors.maxlength">
      The message can´t have more than 500 characters
    </div>
  </div>
  <!-- Términos y condiciones -->

  <div>
    <mat-checkbox
      fxLayoutAlign="start"
      [disabled]="!readTerms"
      #tc
      required
      for="terms"
    >
      <span class="checkboxArea">
        By clicking this checkbox you confirm that you have read our
        <a [routerLink]="" (click)="openTerms()" class="termLink">
          terms and conditions
        </a>
      </span></mat-checkbox
    >
    <div *ngIf="!tc.checked">
      <div class="text-danger">
        You cannot send a message if you don't agree to our terms.
      </div>
    </div>
  </div>

  <div fxLayout="column" fxFlexAlign="end">
    <button
      class="button-form"
      type="submit"
      [disabled]="!contactForm.valid"
      (click)="openDialog()"
    >
      send
    </button>
  </div>
</form>
