.text-danger {
  color: rgb(250, 103, 213);
}

h2 {
  color: rgb(201, 158, 79);
  font-size: 1.4rem;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: rgb(187, 179, 233);
}

mat-form-field {
  height: 50px;
  border-radius: 20px;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: rgb(187, 179, 233);
}

mat-option {
  background-color: rgb(187, 179, 233) !important;
}

mat-option:hover {
  background-color: orange !important;
}

textarea {
  min-width: 100%;
  min-height: 180px;
  border-radius: 10px;
  font-family: sans-serif;
  padding: 10px;
  border: none;
  font-size: 0.9rem;
  background-color: rgb(187, 179, 233);
}

.short-fields {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 900px;
}

.button-form {
  padding: 10px;
  width: 100px;
  border-radius: 80px;
  margin-top: 20px;
  font-size: 20px;
  font-variant: small-caps;
  border: none;
  background-color: black;
  color: white;
}

.button-form:disabled {
  background-color: grey;
  color: darkgrey;
}

.button-form:enabled:hover {
  background-color: purple;
  color: white;
}
