.text-danger {
  color: rgb(250, 103, 213);
  text-align: center;
}

h2 {
  color: rgb(201, 158, 79);
  font-size: 1.4rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: rgb(187, 179, 233);
  margin-bottom: 20px;
  min-width: 300px;
}

.form-row-input {
  margin: 20px;
}

.termLink {
  text-decoration: none;
  color: rgb(238, 185, 41);
}
mat-form-field {
  height: 50px;
  border-radius: 20px;
  width: 50%;
  min-width: 300px;
  padding-top: 1px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgb(187, 179, 233);
  margin-bottom: 20px;
}

mat-option {
  background-color: rgb(187, 179, 233) !important;
  text-align: center;
}

mat-option:hover {
  background-color: orange !important;
}

mat-checkbox {
  color: white;
  margin-top: 10px;
}

textarea {
  min-width: 80%;
  min-height: 140px;
  border-radius: 10px;
  font-family: sans-serif;
  padding: 10px;
  border: none;
  font-size: 0.9rem;
  background-color: rgb(187, 179, 233);
  margin-bottom: 10px;
}

.short-fields {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 900px;
}

.button-form {
  padding: 10px;
  width: 100px;
  border-radius: 80px;
  margin-top: 20px;
  font-size: 20px;
  font-variant: small-caps;
  border: none;
  background-color: black;
  color: white;
}

.button-form:disabled {
  background-color: grey;
  color: darkgrey;
}

.button-form:enabled:hover {
  background-color: purple;
  color: white;
}
