<div
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
  fxLayoutGap="20px"
  class="welcome-message"
>
  <img src="../../../assets/gafas1.gif" />
  <div
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    class="welcome-text"
  >
    <span fxFlex>
      Don't know the name of that cool mount you saw in Mor Dhona?
    </span>
    <span fxFlex>
      You saw the cutest pet in Limsa but you don't know how to get it?
    </span>
    <span fxFlex>
      Are you a hopeless collector and you NEED to have all the cool, rare
      things in FFXIV?
    </span>
    <span fxFlex>Then you're in for a ride!</span>
    <div class="welcome-message-title">Welcome to Needhogg's Aery!</div>
  </div>
</div>
