<mat-card>
  <form
    class="searchbar"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <i class="fas fa-search"></i>
    <input
      class="searchbar-bar"
      type="text"
      placeholder="Search for a mount"
      [formControl]="control"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let mount of filteredMounts" [value]="mount">
        {{ mount }}
      </mat-option>
    </mat-autocomplete>
  </form>
</mat-card>
