<div class="search-div" fxLayout="column" fxLayoutAlign="center center">
  <app-filters [allMounts]="allMounts"></app-filters>
</div>

<div fxLayout="row" fxLayoutAlign="end end">
  <button mat-fab color="primary" class="go-up-button" (click)="backToTop()">
    <i class="fas fa-home"></i>
  </button>
</div>
<div
  class="mount-grid"
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap="30px grid"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="150"
  [infiniteScrollContainer]="containerMonturas"
  [fromRoot]="true"
  (scrolled)="onScroll()"
>
  <app-mount-card
    class="mount-card"
    fxFlex="15"
    fxFlex.md="50"
    fxFlex.xs="50"
    fxLayout="stretch"
    *ngFor="let mount of mounts"
    [mount]="mount"
  >
  </app-mount-card>
</div>
