<div class="disclaimer">
  <h1>DISCLAIMER</h1>
  <h3>this webpage is a project made for testing purposes only</h3>
  <p>
    The data I store is just to test how to link a form with an online storage
    (firebase).
  </p>
  <p>
    I will not manipulate in any way the content you input in those fields, nor
    send it to third parties.
  </p>
  <p>
    I do not take responsability if you enter sensitive data in the forms, so
    please refrain to input real info if you worry about it being on the
    internet.
  </p>
  <p>
    However, I do appreciate feedback and nice messages. If you want to send any
    message about what you liked about my page or you want to contact me
    personally, do it at:
  </p>
  <h4>yaromedev@gmail.com</h4>
</div>
