<mat-nav-list>
  <a [routerLink]="['/welcome']" mat-list-item (click)="onSidenavClose()">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </a>
  <a [routerLink]="['/mounts']" mat-list-item (click)="onSidenavClose()">
    <i class="fas fa-dragon"></i>
    <span>Mounts</span>
  </a>
  <a [routerLink]="['/minions']" mat-list-item (click)="onSidenavClose()">
    <i class="fas fa-cat"></i>
    <span>Minions</span>
  </a>
  <a [routerLink]="['/contact']" mat-list-item (click)="onSidenavClose()">
    <i class="fas fa-paper-plane"></i>
    <span>Contact</span>
  </a>
</mat-nav-list>
