<mat-card
  class="card-item mat-elevation-30"
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
>
  <mat-card-title
    class="card-title"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
  >
    <span>{{ mount.id }} </span>
    <span fxFlex="60">{{ mount.name }}</span>

    <button mat-icon-button color="warn" (click)="toggleFavourite()">
      <mat-icon *ngIf="selected">favorite</mat-icon>
      <mat-icon *ngIf="!selected"> favorite_border</mat-icon>
    </button>
  </mat-card-title>

  <img mat-card-image src="{{ mount.image }}" />

  <mat-card-content fxLayout="space-between stretch">
    <p class="tooltip-quote">
      <q> {{ mount.tooltip }}</q>
    </p>
    <p>{{ mount.description }}</p>
    <mat-expansion-panel class="source" fxLayout="column" fxLayoutAlign="start">
      <mat-expansion-panel-header class="source-title"
        >How to get it:</mat-expansion-panel-header
      >
      <span class="source-text" *ngFor="let text of texts" fxLayout="column">
        ♦ {{ text.text }}
      </span>
    </mat-expansion-panel>
    <mat-chip-list class="chips" fxFlexAlign="end">
      <mat-chip class="patch">Patch: {{ mount.patch }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
