.card-item {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 28%,
    rgba(69, 33, 94, 1) 70%,
    rgba(145, 117, 123, 1) 100%
  );
  color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 3px #0e0b0b;
}
.card-title {
  font-size: 20px;
}

i {
  font-size: 20px;
  padding: 8px;
}

i:hover {
  color: red;
}

.tooltip-quote {
  text-align: right;
  font-style: italic;
}

span {
  padding: 1px;
}

.source {
  background-color: rgb(135, 116, 161);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.source-title {
  font-variant: small-caps;
  font-weight: 500;
}

.mat-ripple-element {
  color: blue;
}

.mat-icon-button {
  transition: transform 0.5s;
}

.chips {
  width: 100%;
}

.patch {
  color: white;
  background-color: rgb(62, 48, 88);
}
