<mat-card
  fxLayout="column"
  fxLayoutAlign="space-between end"
  class="card-item mat-elevation-30"
>
  <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
    <mat-card-title
      class="card-title"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
    >
      <span>{{ minion.id }} </span>
      <span fxFlex="60">{{ minion.name }}</span>

      <button mat-icon-button color="warn" (click)="toggleFavourite()">
        <mat-icon *ngIf="selected">favorite</mat-icon>
        <mat-icon *ngIf="!selected"> favorite_border</mat-icon>
      </button>
    </mat-card-title>

    <mat-card-content fxLayout="space-between stretch">
      <img mat-card-image src="{{ minion.image }}" />
      <p class="tooltip-quote">
        <q> {{ minion.tooltip }}</q>
      </p>
      <p>{{ minion.description }}</p>
      <mat-expansion-panel
        class="source"
        fxLayout="column"
        fxLayoutAlign="start"
      >
        <mat-expansion-panel-header class="source-title"
          >How to get it:</mat-expansion-panel-header
        >
        <span class="source-text" *ngFor="let text of texts" fxLayout="column">
          ♦ {{ text.text }}
        </span>
      </mat-expansion-panel>
    </mat-card-content>
  </div>
  <mat-chip-list class="chips">
    <mat-chip class="patch"> Patch: {{ minion.patch }} </mat-chip>
  </mat-chip-list>
</mat-card>
